p {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}